In [2]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
cc = pd.read_csv('C:\\Users\\Richard\\Desktop\\DM_proj\\credit_default_train.csv')

In [116]:
cc.iloc[0:11, [0, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]]

,limit,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr,credit_default
0,50000,2,0,0,0,0,0,48966,49985,50760,49535,30358,30302,2130,1905,1811,1100,1100,1200,no
1,200000,-1,-1,-1,-1,-1,-1,10755,9981,7843,6335,4616,7956,10120,7852,6336,4622,7956,5499,no
2,30000,2,3,2,2,2,0,30057,29280,30206,30496,29731,29047,0,1700,1100,3,1053,1303,no
3,140000,0,0,0,0,0,0,56426,41717,42823,25224,26855,23783,2000,2000,900,2000,10000,5000,no
4,60000,1,2,2,0,0,0,47987,48716,47632,48738,49601,52773,1788,0,1894,1801,3997,0,yes
5,260000,1,-1,-1,-1,-1,-1,-6,1100,2527,1698,0,5062,1106,2527,1698,0,5062,0,no
6,50000,3,3,2,3,2,2,49624,48530,50255,49104,51044,50933,0,2800,0,3000,800,3000,yes
7,30000,0,-1,2,-1,0,0,2880,3285,2280,248,248,-150,3285,0,248,0,0,0,yes
8,10000,2,0,0,0,0,0,223,3035,4810,7546,9260,10000,3000,2000,3000,2000,1000,0,no
9,200000,1,2,2,2,2,0,181339,177233,188461,191363,188683,196057,0,14000,7000,0,10000,5000,yes
10,260000,0,0,0,0,0,0,85666,92286,93742,93369,82476,73789,10005,4026,3481,141,20074,60308,no

In [15]:
cc_1 = cc.iloc[0:5,5:23]

In [12]:
import random
r = random.randint(0,len(cc))
cc.iloc[r:r+10, 5:23]

,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr
1073,-1,-1,-1,-1,0,0,8177,1989,382,10383,7030,0,2453,382,10383,0,3036,0
1074,-1,-1,-2,-2,-2,-1,598,0,0,0,0,687,0,0,0,0,687,18296
1075,0,0,0,0,0,2,49718,50362,49904,50405,29795,28383,1786,2000,1500,2200,0,1100
1076,0,0,0,2,2,2,25469,26663,28509,27381,29054,28052,2000,3000,0,2500,0,1500
1077,2,2,2,2,2,3,300,300,300,300,1300,1150,0,0,0,1000,150,0
1078,-2,-2,-2,-2,-1,0,416,416,416,416,37911,38299,416,416,416,37911,1400,1400
1079,0,0,2,2,2,0,112561,119435,105382,49643,46812,45914,12421,0,7000,0,2000,1822
1080,-1,-1,-1,-1,-1,-1,5036,32897,6493,23292,1254,7808,32898,6493,23324,1254,7808,3023
1081,-2,-2,-2,-2,-2,-2,436,1476,475,804,245,100,1480,478,804,245,144,0
1082,0,0,0,0,0,0,157668,165762,173429,176943,176843,177183,10762,10429,10423,6843,7183,6398

In [18]:
ps_list = ['ps-sep', 'ps-aug', 'ps-jul', 'ps-jun', 'ps-may', 'ps-apr']
ba_list = ['ba-sep', 'ba-aug', 'ba-jul', 'ba-jun', 'ba-may', 'ba-apr']
pa_list = ['pa-sep', 'pa-aug', 'pa-jul', 'pa-jun', 'pa-may', 'pa-apr']

In [142]:
l = list()
i = 4515
#for i in range(0, len(cc_1)):
for j in range(5, 11):
    l.append((cc.iloc[i,j], cc.iloc[i,j+6], cc.iloc[i,j+12]))

In [143]:
l[::-1]

[(-2, 0, 1183),
 (-1, 0, 0),
 (-1, 710, 0),
 (-2, 2517, 716),
 (-2, 4107, 2517),
 (-2, 0, 4107)]

           (PS,  BA,   PA )
set        (2, 48966, 2130),
aug        (0, 49985, 1905),
jul        (0, 50760, 1811),
jun        (0, 49535, 1100),
may        (0, 30358, 1100),
apr        (0, 30302, 1200),

set        (2, 30057, 0),
aug        (3, 29280, 1700),
jul        (2, 30206, 1100),
jun        (2, 30496, 3),
may        (2, 29731, 1053),
apr        (0, 29047, 1303),

In [166]:
error,rows = 0, 0
list_rows = list()
for i in range(0,len(cc)):
    flag = True
    for j in range(7,11):
        if (cc.iloc[i,j+5] - cc.iloc[i,j+10] <= 0) & (cc.iloc[i,j] == -1) & (cc.iloc[i,j+1] != -2):
            error += 1
            flag = False
    if not flag:
        rows += 1
        list_rows.append(i)

In [118]:
print(error)
print(rows)

274
232

In [120]:
l = list(set_rows)
print(len(set_rows))
l.sort()
l[0:10]

232

[9, 40, 80, 81, 135, 210, 266, 292, 312, 511]

In [49]:
error, rows = 0, 0
list_rows = list()
set_rows = set()
for i in range(0,len(cc)):
    flag = True #flag == TRUE means that the i-th row is correct
    for j in range(5,11):
        ps_j = cc.iloc[i,j]
        delay = ps_j
        ba_j = cc.iloc[i,j+6]
        #print(str(j) + " -> ps_j = " + str(ps_j) + " -- delay = " + str(delay) + " -- ba_j = " + str(ba_j) + " -- ")
        if (ps_j > 0) & (j + delay < 11):
            ba_delay = cc.iloc[i, delay + 5 + 6]
            #print("    -- pa_delay = " + str(ba_delay))
            if (ba_delay < ba_j): 
                error += 1
                flag = False
                set_rows.add(i)
    if not flag:
        rows += 1
        list_rows.append(i)

In [109]:
cc.iloc[[9, 40, 80, 81, 135, 210, 266, 292, 312, 511], 5:23]

,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr
9,1,2,2,2,2,0,181339,177233,188461,191363,188683,196057,0,14000,7000,0,10000,5000
40,2,2,2,2,2,2,34048,33053,33506,41931,38638,35343,0,1800,9851,0,1183,5132
80,0,0,3,2,2,0,13258,18647,18064,19462,18854,20380,5635,0,2000,0,2000,2000
81,2,2,2,2,2,0,63619,64484,62882,69109,67401,68863,2500,0,7282,0,2700,3000
135,0,0,0,2,0,0,169225,172888,182533,176099,178391,181986,7800,14010,4,6431,6600,6675
210,2,2,2,2,2,2,131864,133897,129761,138604,136283,145012,5600,0,11000,0,11000,5656
266,-1,-1,2,-1,2,2,776,1552,776,221876,223986,204957,1552,0,221876,7500,4,10000
292,0,0,0,2,2,2,131336,123443,132517,133747,134230,131986,6000,12600,4900,5105,0,5050
312,2,2,2,2,2,2,158245,161695,163620,165604,169075,172401,7400,6000,6100,6200,6200,6300
511,0,0,0,0,2,2,162526,168389,338660,221808,222304,217704,10000,10000,114000,10000,0,9000

In [94]:
m = ['sep', 'aug', 'jul', 'jun', 'may', 'apr']

In [103]:
i,j = 2,9
ps_j = cc.iloc[i,j]
ba_j = cc.iloc[i,j+6]
pa_j = cc.iloc[i,j+12]
delay = ps_j + 1

cc.iloc[2, j-delay+13:j+12].sum()

1103

In [123]:
flag = True #flag == TRUE means that the i-th row is correct
i = 9
for j in range(7,11):
    ps_j = cc.iloc[i,j]
    ba_j = cc.iloc[i,j+6]
    pa_j = cc.iloc[i,j+12]
    delay = ps_j + 1
    print(str(j) + " (" + m[j-5] + ") -> ps_j = " + str(ps_j) + " -- ba_j = " + str(ba_j) + " -- pa_j = " + str(pa_j) + " -- delay = " + str(delay) + " -- ")
    if (ps_j > 0) & (j - delay > 4):
        ba_delay = cc.iloc[i, j - delay + 6]
        print("    -- ba_delay = " + str(ba_delay))
        pa_sum = cc.iloc[j, j - delay + 13 : j + 12].sum()
        if (ba_delay < ba_j - pa_sum): 
            print("       ERROR: pa_sum = " + str(pa_sum) )

7 (jul) -> ps_j = 2 -- ba_j = 188461 -- pa_j = 7000 -- delay = 3 --
8 (jun) -> ps_j = 2 -- ba_j = 191363 -- pa_j = 0 -- delay = 3 --
    -- ba_delay = 181339
       ERROR: pa_sum = 5000
9 (may) -> ps_j = 2 -- ba_j = 188683 -- pa_j = 10000 -- delay = 3 --
    -- ba_delay = 177233
       ERROR: pa_sum = 7000
10 (apr) -> ps_j = 0 -- ba_j = 196057 -- pa_j = 5000 -- delay = 1 --

In [117]:
error, rows = 0, 0
list_rows = list()
set_rows = set()
for i in range(0,len(cc)):
    flag = True #flag == TRUE means that the i-th row is correct
    for j in range(7,11):
        ps_j = cc.iloc[i,j]
        delay = ps_j + 1
        ba_j = cc.iloc[i,j+6]
        if (ps_j > 0) & (j - delay > 4):
            ba_delay = cc.iloc[i, j - delay + 6]
            pa_sum = cc.iloc[j, j - delay + 13 : j + 12].sum()
            if (ba_delay < ba_j - pa_sum): 
            #if (ba_delay < ba_j): 
                error += 1
                flag = False
                set_rows.add(i)
    if not flag:
        rows += 1
        list_rows.append(i)